@model SacrementPlanner.Models.Planner

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Planner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpeningSong" class="control-label"></label>
                <input asp-for="OpeningSong" class="form-control" />
                <span asp-validation-for="OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentSong" class="control-label"></label>
                <input asp-for="SacramentSong" class="form-control" />
                <span asp-validation-for="SacramentSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateSong" class="control-label"></label>
                <input asp-for="IntermediateSong" class="form-control" />
                <span asp-validation-for="IntermediateSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingSong" class="control-label"></label>
                <input asp-for="ClosingSong" class="form-control" />
                <span asp-validation-for="ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentDate" class="control-label"></label>
                <input asp-for="SacramentDate" class="form-control" />
                <span asp-validation-for="SacramentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conductor" class="control-label"></label>
                <input asp-for="Conductor" class="form-control" />
                <span asp-validation-for="Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
